body {
  background-color: black;
  font-size: 30px;
  color: aquamarine;
  text-align: center;
}

button {
  margin: 10px 10px 10px 10px;
  border-color: aquamarine;
  border-radius: 20px;
  font-size: 20px;
  padding: 10px 10px 10px 10px;
  cursor: pointer;


}
